:root {
    --lilac: rgba(178, 108, 240);
    --index: calc(1vw+1vh);
    --transition: cubic-bezier(0.1,0.7,0,1);
 
}

*{
    scroll-behavior: smooth;
    margin: 0;
    

}
body {
    
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*NAVBAR*/
nav {
    display: flex;

    position: fixed;
    right: 10px;
    font-size: 1rem;
    text-align: right;
    border-radius: 40px;
    padding: 1rem; 
}

nav a {
    text-decoration: none;
    color: inherit;
    transition: transform 0.5s ease, color 0.5s ease; 
    margin: 0 25px; 
    display: inline-block; 
}
nav a.active {
    color: var(--lilac); /* Highlight color */
    background-color: rgb(255, 255, 255,0.2);
    border-radius: 30px;
    width: 23%;
    height: 5%;
}
nav a:hover {
    transform: scale(1.4);
    color: var(--lilac);
    cursor: pointer;
}
/*Formatting*/
@media (max-width: 920px) {
    nav {
        font-size: 1rem;
    }
    
    .brief h1 {
        font-size: 8rem; /* Reduce for small screens */
    }
    
    .list h3 {
        font-size: 3rem; /* Reduce for smaller viewports */
    }
    
    /* Adapt container widths and font sizes for better fit */
    .lists, .list, .icons {
        width: 90%;
        margin: 0 auto;
    }
    
    .icons i {
        font-size: 3rem;
        width: 50px;
        height: 50px;
    }
    
    .icons span {
        position: static; /* Ensure proper rendering */
        top: 0;
        right: 0;
    }
    
    #About h1, .edu, .ho_in h2 {
        font-size: 4rem; /* Scalable font size */
        text-shadow: none; /* Adjust as needed */
    }
    
    #role {
        left: 20%; /* Responsible shift for small screens */
    }
}

@media (max-width: 480px) {
    .brief h1 {
        font-size: 6rem; /* Further reduce for smaller screens */
    }
    
    button {
        width: 90%;
        font-size: 1.2rem;
    }
}
/*HOME PAGE*/
.brief{
    display: inline-block;
    margin-top:14%;
    width: 100%;
    background-size: 90%;
    background-position:20%;
    background-repeat:no-repeat;
    height: 100vh;
    text-shadow: black 5px 10px 30px;
}
.brief::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/img/bg.jpeg');
    background-size: 90%;
    background-position: 20%;
    background-repeat: no-repeat;
    filter: blur(20px); 
    transform: scale(1.1); 
    z-index: -1;
}
.brief h1{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 10rem;
}
.brief p{
    display: flex;
    position: absolute;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace

}
.brief p:nth-child(1){
    display: relative;
    left:15%;
    text-align: left;
}
#role{
    display: relative;
    
    text-align: right;
    left:60%;
}
.cursor{
    display: inline-block;
    width: 10px;
    margin-left: 2px; 
    background-color: var(--lilac); 
    animation: blink 0.7s step-end infinite;
    height: 1.5em; 
    vertical-align: bottom;
}

@keyframes blink {
    from, to {
        background-color: transparent;
    }
    50% {
        background-color: white; /* Blink effect by toggling the background color */
    }
}

button{
    position: relative;
    top:100px;
    left: 15%;
    width: 400px;
    background-color: transparent;
    border-color: var(--lilac);
    border-radius: 40px;
    color: inherit;
    font-size: 2rem;
    margin: 0 60px;
    transition: transform 0.4s ease;
    box-shadow: black 0px 20px 40px;
}
button:hover{
    transform: scale(1.2);
    background-color: rgba(178, 108, 240, 0.05);
    color: white;
    border-color: black;
    cursor: pointer;
}
/*LINKS*/
.contact{
    position: fixed;
    top: 85vh;
}
.contact i{
    margin: 0 40px;
    font-size: 1.4rem;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
    
}
.contact i:hover{
    color: var(--lilac);
    transform: scale(1.2);
}

/*ABOUT ME*/
#About{
    margin-bottom: 200px;
    width: 100vw;
}
#About span:hover {
    color: var(--lilac);
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}
#About h1{
    top:20%;
    position: relative;
    text-align: left;
    left: 15%;
    font-size: 6rem;
    text-shadow: 0 0 10px rgba(229, 148, 252, 0.5), 0 0 20px rgba(255, 255, 255, 0.5); 
}
#About hr{
    position: relative;
    width: 35%;
    top:20%;
    left: 10%;
    border-color: var(--lilac);
    background-color: var(--lilac);
}
#About p{
    position: relative;
    left:10%;
    font-size: 1.5rem;
    max-width: 35%;
    text-align: center;
    top:20%;
}
.email{
    text-decoration: none;
    color: white;
    position: relative;
    left:20%;
    font-size: 1.5rem;
    margin-bottom: 100px;
    top:20%;
    transition: color 0.3s ease;
}
.email:hover{
    color: blueviolet;
    cursor: pointer;
}

.ho_in{
    position: absolute;
    top: 145%;
    left: 70%;
}
.ho_in h2{
    position: relative;
    right:30%;
    font-size: 3rem;
    text-shadow: 0 0 10px rgba(229, 148, 252, 0.5), 0 0 20px rgba(255, 255, 255, 0.5); 
}
.icons {
    position: relative;
    right: 40%;
    display: grid;
    grid-template-columns: repeat(2, 300px); /* Two columns */
    grid-gap: 50px;
  
    justify-items: center; /* Center items in each grid cell */
    text-align: center; /* Center text below the icons */
  
}

.icons i {
    display: inline-block;
    font-size: 4rem;
    width: 6rem;
    height: 6rem;
    line-height: 90px;
    margin-bottom: 5px; /* Space between icon and label */
    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    transition: background-color 0.3s ease;
}

.icons span {
    position: relative;
    top:50px;
    right:80px;
    color: white;
}

/* Optional hover effects */
.icons i:hover {
    background-color: #eee;
    color: var(--lilac);
}
.cursor-circle {
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(229, 148, 252, 0.5); 
    box-shadow: 0 0 10px rgba(229, 148, 252, 0.5), 0 0 20px rgba(255, 255, 255, 0.5); 
    pointer-events: none; 
    z-index: 10000;
    display: none; 
}
/*CV SECTION*/
#CV {
    position: relative;
    width: 100vw;
    margin-bottom: 30%;
    overflow: hidden;
}

#CV::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/img/bg2.jpg'); /* Unique image for CV */
    background-size: cover;
    filter: blur(20px);
    background-repeat: no-repeat;
    z-index: -1;
}

.lists {
    position: relative;
    top: 15%;
    display: flex;
    justify-content: space-around; /* Spreads elements evenly with space */
    align-items: flex-start; /* Align items at the start of the container */
    padding: 2rem;
    width: 100%; /* Full-width container */
    box-sizing: border-box; /* Include padding in the width */
}

.list {
    background-color: rgba(172, 24, 240, 0.137);
    border-radius: 12px; /* Rounded corners */
    padding: 1rem;
    width: 30%; /* Each list taking up equal width */
    box-shadow: 0 0 10px rgba(229, 148, 252, 0.5);
}

h3 {

    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: white; /* Ensure contrast for header text */
}

.list ul {
    list-style-type: none;
    padding-left: 0;
}

.list li {
    font-size: 1.2rem;
    margin-bottom: 1rem; 
    position: relative; 
}

.competency-bar {
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    height: 5px;
    width: 70%;
    left: 100px;
    top:-20px;
    margin-top: 0.5rem;
}

.competency-marker {
    position: absolute;
    top: -5px; /* Aligns marker vertically centered */
    width: 15px;
    height: 15px;
    background-color: var(--lilac);
    box-shadow: 0 0 10px rgba(229, 148, 252, 0.5), 0 0 20px rgba(255, 255, 255, 0.5); 
    border-radius: 50%;
    transition: left 0.3s ease; /* Smooth transition for visual effect */
}
.edu{
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    background-color: rgba(172, 24, 240, 0.164);
    top: 20%;
    border-radius: 20px;
    margin: 0 100px;
    padding: 20px 200px 20px 200px;
}
.list:nth-child(2) h3 + ul li { /* This targets the second list (Interests) */
  font-size: 1.85rem;  /* Your desired font size */
  text-align: center;
}

.list:nth-child(3) h3 + ul li { /* This targets the third list (Skills) */
  font-size: 1.85rem;  /* Your desired font size */
  text-align: center;
}
/*Portfolio*/
#portfolio h1{
    position: relative;
    text-align: center;
    top:-50px;
    font-size: 6rem;
    text-shadow: 0 0 10px rgba(229, 148, 252, 0.5), 0 0 20px rgba(255, 255, 255, 0.5); 
}
.wrapper {
    margin-top: -150px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.items {
    display: flex;
    gap: 0.4rem;
    perspective: calc(var(--index) * 35);
}

.item {
    width: 200px;
    height: 300px; 
    border-radius: 40px;
    transition: transform 0.5s var(--transition);
    cursor: pointer; 
    background-color: var(--lilac); 
    transition: transform 0.2s ease-in;
    background-repeat: no-repeat;
    background-size: cover;
}
.item:hover{
    transform: scale(1.2);
}
.item.expanded {
    transform: scale(1.2);
}
.description {
    position: absolute;
    margin-top: 400px;
    text-align: center;
    font-size: 1.2rem;
    color: white;
    transition: opacity 0.3s ease;
}
#contactMe{
    margin-top: 10%;
    margin: 10% 30%;
    text-align: center;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.187);
}
#contactMe h1{
    font-size: 4rem;
    text-shadow: 0 0 10px rgba(229, 148, 252, 0.5), 0 0 20px rgba(255, 255, 255, 0.5); 
    margin-bottom: 60px;
}
input{
    background-color: transparent;
    border: 2px solid white;
    box-shadow: rgba(229, 148, 252) 15px 5px 0px;
    border-radius: 30px;
    font-size: 2rem;
    text-align: center;
    color: white;
    margin: 10px 0;
    font-family: monospace;
}
textarea{
    background-color: transparent;
    border: 2px solid white;
    box-shadow: rgba(229, 148, 252) 15px 5px 0px;
    border-radius: 30px;
    font-size: 2rem;
    text-align: center;
    color: white;
    margin: 10px 0;
}
input::placeholder{
    color: rgba(255, 255, 255, 0.349);
}
#submitbtn{
    cursor: pointer;
    background-color: white;
    color: var(--lilac);
    transition: color 0.3s ease-in;
}
#submitbtn:hover{
    background-color: var(--lilac) ;
    color: white;
    border-color: var(--lilac);

}
